LINE_TOKEN = "_LINE_ACCESS_TOKEN_"
LINE_SECRET = "_LINE_SECRET_"

GOOGLE_KEY = "_GOOGLE_API_KEY_"

GEMINI_PROMPT = "_GOOGLE_GEMINI_SYSTEM_INSTRUCTIONS_"

DATABASE = [
      "https://raw.githubusercontent.com/AS-AIGC/AS-FAQ-Bot/main/data/AS-ALL.txt",
      # and more
    ]

GENERATION_CONFIG = {
      "temperature": 0.8,
      "top_p": 0.95,
      "top_k": 0,
      "max_output_tokens": 8192,
    }
    
SAFETY_SETTINGS = [
      {
        "category": "HARM_CATEGORY_HARASSMENT",
        "threshold": "BLOCK_MEDIUM_AND_ABOVE"
      },
      {
        "category": "HARM_CATEGORY_HATE_SPEECH",
        "threshold": "BLOCK_MEDIUM_AND_ABOVE"
      },
      {
        "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
        "threshold": "BLOCK_MEDIUM_AND_ABOVE"
      },
      {
        "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
        "threshold": "BLOCK_MEDIUM_AND_ABOVE"
      },
    ]
