SYSTEM_PROMPT: "You are a helpful assistant."

TRANSLATION_PROMPT: "Translate to English: {text}"

LANGUAGE_DETECTION_PROMPT: |
    Task: Detect the language of the following text: "{query}"
    If the text is Chinese, reply "台灣繁體中文". If the text is in any other language, reply "english".
    Only reply with the language code.

QA_PROMPT: |
    對話歷史：
    {previous_chat}

    這是和這個問題可能相關的背景知識
    {context}

    使用者的問題: {query}，以 {lang} 回覆

QA_PROMPT_EN: |
    Conversation History:
    {previous_chat}
    
    Background Knowledge: This is background knowledge that may be related to this question.
    {context}

    USER's QUESTION: "{query}" , response in {lang}