contact,context,category,url,title
O小姐 0000,"中研院自107年起舉辦「中研講堂──跨縣市科普演講」，以利外縣市學子可聆聽中研院研究演講，不受交通、城鄉差距等因素影響。
「中研講堂──跨縣市科普演講」，由院內研究人員向民眾分享研究成果。目前已造訪12個縣市，各場次平均報名達300人、演講影片最高觀看次數逾 14萬次。未來，中研院將持續規劃舉辦，並優先考量於未造訪過之縣市舉行。",科普活動,https://youtube.com/playlist?list=PLlPkilLR3TiHMjSJ31PUU-FsKNK4FnXpE&si=L2MgB0E9f-Lp5rdN,中研講堂──跨縣市科普演講
O小姐 0000,"中研院自87年起舉辦「院區開放參觀活動」(Open House)， 是眾多科普迷們引頸期盼的年度盛事，也是讓社會瞭解中研院研究成果的重要機會。
「院區開放參觀活動」每年皆舉辦於10月的星期六，活動持續整天，迄今已25年。活動當天，各所中心會推出各式科普活動，種類多元，如演講、工作坊、展覽、影片欣賞、互動式體驗、手作與親子遊戲等等，部分活動也開放線上參與。
今年院區開放系列活動共有3天，分別是於南港院區舉辦的「院區開放參觀活動」，日期為113年10月19日、「兒童科普日」，日期為10月12日，以及今年首度舉行於中研院南部院區的「南院院區開放日」，日期為113年11月9日。今年舉辦之院區開放詳細活動資訊將公布於中研院官網。
民眾如欲參加院區開放活動，可於院區開放官方網站查詢活動內容與報名相關資訊，網站亦涵蓋「歷年活動」頁面，羅列近3年活動資訊連結。",科普活動,https://openhouse.sinica.edu.tw/,院區開放
O小姐 0000,"中研院自93年起，舉辦「知識饗宴科普演講」及「故院長科普演講」，並於108年度起整併為「知識饗宴系列科普演講」。研究人員深入淺出介紹研究成果，於活動月週二晚上，邀請院內外不同研究領域研究人員主講。由於講題通俗，演講內容生動有趣，每場均吸引上百名社區居民及年輕學子參加。
近年，本院也積極將演講影片錄影或直播，製作成影音學習內容，上傳至中研院官方YouTube平台，將精彩的演講內容廣為宣傳週知。
民眾如欲觀賞過去演講內容，可至中研院官方YouTube帳號查詢。
每場「知識饗宴系列科普演講」的報名資料將於活動前公佈於中研院官方網站與官方臉書帳號。活動採線上報名制，亦開放30位當日現場報名名額，額滿為止。",科普活動,https://youtube.com/playlist?list=PLlPkilLR3TiEbo1bxopsCmxVECtM1jeiC&si=R3GBUC9MEQyFeMrJ,知識饗宴
O先生 0000,"中研院於106年4月成立「研之有物」科普平台，以淺顯親民的圖文報導，介紹本院研究人員及研究成果。
目前，「研之有物」已累積近370篇科普文章，近三年獲國內各大網路平台及媒體轉載超過1100次。107年，「研之有物」出版第一本實體書籍《研之有物：穿越古今！中研院的25堂人文公開課》，為人文組系列書籍。110年出版生命組系列書籍《研之有物：見微知著！中研院的21堂生命科學課》，持續將網路流傳的科普知識延伸至實體書籍，並搭配中研院各項活動進行宣傳。預計於113年推出數理組系列書籍。
未來，「研之有物」將持續產製與中研院研究有關之科普文章，並加強與公私部門及不同類型媒體的合作串聯，以拓展其他領域之讀者群。
中研院於106年成立本「研之有物」臉書專頁，以推廣「研之有物」網站文章。目前粉絲數約66000人。中研院另於107年建立「研之有物」IG專頁，追蹤數約16000人。",科普推廣,http://research.sinica.edu.tw/,研之有物
O小姐 0000,"中研院自105年成立「中央研究院」臉書專頁，以將中研院研究成果推向網路社群，目前粉絲數已逾17萬人。中研院自108年亦開通Instagram帳號，讓更多年輕族群了解中研院研究成果，目前追蹤數約2.9萬人。
中研院105年起設立YouTube平臺(中央研究院官方影音頻道)，以透過網路影音與大眾分享中研院研究成果及科普演講，目前訂閱人數近9.4萬人，共上傳影片320部。",科普推廣,https://www.facebook.com/sinicaedu/,社群媒體
O小姐 0000,"中央研究院為推動藝文表演藝術之發展，鼓勵優秀表演團體、豐富週邊居民文化生活，於每年9月開放申請翌年演出之檔期。經向政府主管機關登記立案之個人表演工作者、演藝團體、文化藝術財團法人、社會團體、藝術工作室、文化事業機構、藝術經紀公司等具申請資格。申請類別包含戲劇、舞蹈、音樂、民俗技藝、其他表演。演出場地為中研院學術活動中心大禮堂或其他合適之表演場地。
每一場詳細報名資料將於活動前公佈於中研院官方網站與官方臉書帳號。活動採線上報名制，不接受電話或其他方式報名。",藝文活動,,藝文活動
資訊服務處服務台 02-2789-8855,"資訊服務處提供專人諮詢服務，中研院資訊相關服務問題都能諮詢，協助同仁在最短的時間內解決各項問題。聯繫服務窗口聯絡方式有下列幾種：
1)電話(02-2789-8855)
2)信箱(its@gate.sinica.edu.tw)
3)電子服務單(https://8855.sinica.edu.tw)
4)線上虛擬服務台(https://its.sinica.edu.tw/online，登入密碼 27898855)

服務台服務時間為上午8:30至12:20，下午1:20至5:00。請多利用線上虛擬服務台提出諮詢，可以分享畫面、寫文字訊息、開啟麥克風與視訊通話，方便服務人員即時了解您的操作方式，更能達到溝通效益！

非上班時間，請您來信或來電留下您的電話號碼，我們會在上班時間與您聯繫，如遇緊急事件，可透過各所資訊人員透過群組與我們聯繫。",全院共用服務-綜合業務,https://its.sinica.edu.tw/pages/1672,單一服務窗口
資訊服務處服務台 02-2789-8855,"中研院資訊服務處提供虛擬私有網路(VPN)遠端連線服務，以供同仁在院外透過VPN取得中研院IP位址，可持續進行學術研究工作或使用行政相關服務。首次使用需先完成VPN服務使用權限開通，並打開Google Authenticator掃描信中QR code即可完成驗證，取得動態密碼。使用者登入VPN時，需輸入gate電子郵件帳號、密碼，以及6位數動態密碼，方可登入。

若VPN服務在90天內沒有使用紀錄，系統將自動關閉，有需要使用可再次申請開通。連線使用說明請參考https://its.sinica.edu.tw/pages/1685。",全院共用服務-網路資訊,https://its.sinica.edu.tw/pages/1685,虛擬網路VPN連線服務
資訊服務處服務台 02-2789-8855,"為免公務及機敏資料遭不當竊取，導致機關機敏公務資訊外洩或造成國家資通安全危害風險，建議避免使用以下APP：
1.大陸開發的APP，包括以下幾款：抖音(Tiktok) 、微信(WeChat) 、新浪微博 、小影(Viva Video) 、ZOOM會議軟體等。
2.工具、通訊類型的危險APP，例如：
1) Free Affluent Message 
2) PDF Photo Scanner 
3) delux Keyboard等。
3.使用曾發生過資安事件(含疑似案件)APP，包括Craigpark Limited 公司旗下所有的APP。
4.其他有潛在疑慮的APP清單，例如：One Dot Moblie Limited 旗下所有的APP。

詳細的名單請參考 https://its.sinica.edu.tw/posts/148906 。如果已經下載使用上述APP請盡速移除。",全院共用服務-資安專區,https://its.sinica.edu.tw/posts/148906,不建議使用大陸APP清單
資訊服務處服務台 02-2789-8855,"為避免公務及機敏資料遭不當竊取，導致機關機敏公務資訊外洩或造成國家資通安全危害風險，行政院函請各單位配合盤點機關所使用或採購之大陸廠牌資通訊產品，以利後續汰換作業之追蹤管考。

大陸廠牌的資通訊產品清單，包括：1.海康威視 (Hikvision) 2.華為 (Huawei) 3.大疆 (DJI) 等設備。

行政院評估列入之廠牌：1.深圳市音络科技有限公司 (INNOTRIK) 2.廣州文石信息科技有限公司 (BOOX) 3.深圳市吉祥騰達科技有限公司 (Tenda) 等。

中研院嚴格認定以下原則：1.聯想 (Lenovo) 為臺灣陸資廠商，強烈建議避免新購入。2.中興通訊 [ZTE]、榮耀等廠牌亦同。

詳細的說明請參考https://its.sinica.edu.tw/posts/148902。若到使用年限請報廢並不要再採購上述設備。",全院共用服務-資安專區,https://its.sinica.edu.tw/posts/148902,大陸廠牌資通訊產品清單
資訊服務處服務台 02-2789-8855,"有關院內FIDO無密碼驗證機制，我們提供下列QA給同仁參考

FIDO是什麼？
FIDO (Fast IDentity Online) 使用生物辨識，是一種標準化且更安全、便捷的身份認證技術，透過儲存在手機中的資訊進行身份驗證。

FIDO為什麼可以提高安全？
FIDO驗證的資訊都存在個人手機上，認證資訊不會被存取，因此可以大幅降低驗證資訊被攔截的風險。

使用FIDO是否就可以不用再輸入密碼登入？
自113年10月起，啟用FIDO即可無密碼登入，只要透過手機完成身分驗證即可；惟部分系統可能尚未加入FIDO驗證，仍須使用帳號密碼登入，我們會陸續整併。

所有的資訊服務系統都支援FIDO登入嗎？
院內各項行政資訊服務系統，都會陸續加入FIDO驗證。

要如何啟用FIDO服務？
請洽各單位管理者或資訊服務處服務台（02-27898855）。

設定FIDO需要特別的設備嗎？
可以使用隨身攜帶的智慧型手機來進行驗證，或自行購買FIDO認證的驗證裝置（FIDO KEY）。

請問可以註冊兩支以上的手機嗎？
可以，每人可以設定兩個行動裝置、一個FIDO KEY（需要自行購買，建議購買有指紋功能的裝置）。

我的行動裝置已經很老舊了，可以設定FIDO嗎？
手機不支援：Android 6、ios 9以下的系統。

更換手機或是手機遺失，無法使用FIDO認證該怎麼辦？
原機還可以使用：至中研院入口網>帳號安全重設載具。
原機無法使用：洽詢各單位管理者或資訊處服務台。

假日值班或是臨時加班，忘記帶手機或手機故障，但資訊處服務台或資訊室沒有人可以發臨時登入驗證碼怎麼辦？
如經常需要假日值班或是加班人員，可事先設定第2行動裝置作為備援使用，請事先攜帶備用手機或是平板至資訊處服務台（或各單位資訊室）設定。

可以不要設定FIDO驗證機制嗎？
現階段我們會分批完成各單位設定，普及後就會全面啟用，屆時如果還沒完成設定，就無法順利登入使用，只能臨櫃辦理。

忘記帶手機或是手機臨時沒電、故障怎辦？
請通知各單位管理者或資訊服務處服務台，確認身分後提供您備援登入方式。

我手機有增加指紋（人臉）辨識功能，原本沒有開啟，或新增修改指紋、FACE ID，出現下列訊息，如何處理？
錯誤訊息：檢查到裝置上的「生物辨識」設定變更，請重新註冊此載具。(12) Authenticator access denied.如果手機註冊FIDO後變更生物辨識設定，FIDO push就會偵測到異動而失敗，需要重新註冊載具，請親洽各單位管理者或資訊處服務台協助設定。

有時候推播會失敗，要點兩三次才能成功？！
因為推播機制會透過手機、網路與蘋果/安卓三方驗證，如推播臨時故障，可直接改用OTP輸入驗證碼方式亦可直接登入使用。

IDExpert APP開啟後要求我輸入PIN碼但我已經忘記了？！
尚未註冊可移除APP重新安裝，如已註冊需要通知服務台協助解除註冊後重新設定。

選用FIDO KEY驗證時，會出現選擇密碼金鑰類型，是要選擇Windows Hello或外部金鑰，還是使用手機、平板或安全金鑰？
因為裝置有支援藍芽（可以感應其他載具），所以需要手動選擇要驗證的載具，請選擇：Windows Hello或外部金鑰，再透過接在電腦上的FIDO KEY完成驗證即可。",全院共用服務-綜合業務,https://its.sinica.edu.tw/pages/4399,員工帳號(SSO)申請與密碼設定
O小姐 0000,"中研院自105年成立「中央研究院」臉書專頁，以將中研院研究成果推向網路社群，目前粉絲數已逾17萬人。中研院自108年亦開通Instagram帳號，讓更多年輕族群了解中研院研究成果，目前追蹤數約2.9萬人。
中研院105年起設立YouTube平臺(中央研究院官方影音頻道)，以透過網路影音與大眾分享中研院研究成果及科普演講，目前訂閱人數近9.4萬人，共上傳影片320部。",科普推廣,https://www.facebook.com/sinicaedu/,社群媒體
